<header>
    <h4>Respect the Artists please, go check their work</h4>
    <h4>Click on their name</h4>

    <div class="main" id="section1">
    <a href="#section2"></a>
    </div>
</header>


<%#-------------------------------%>
<%#----------- SAMPLE ------------%>
<%#-------------------------------%>

<%#
<div class="wrapper>">
    <a href="" class="clip-text clip-text_one"></a>
</div>
%>

<div>
    <div class="wrapper>">
        <a href="https://www.pixiv.net/member.php?id=11246082" class="clip-text clip-text_one">Miv4t</a>
    </div>

    <div class="wrapper>">
        <a href="https://www.pixiv.net/member.php?id=420928" class="clip-text clip-text_two">LM7</a>
    </div>

    <div class="wrapper>">
        <a href="https://www.pixiv.net/member.php?id=648285" class="clip-text clip-text_tree">mocha</a>
    </div>

    <div class="wrapper>">
        <a href="https://www.pixiv.net/member.php?id=2131660" class="clip-text clip-text_four">pote</a>
    </div>

    <div class="wrapper>">
        <a href="https://www.pixiv.net/member.php?id=1980643" class="clip-text clip-text_five">ASK</a>
    </div>

    <div class="wrapper>">
        <a href="https://twitter.com/fluffy2038?fbclid=IwAR1B7mk1jmldVygeIpOk2VDDWxUIBzost7yx8BX3hJsI6X-KJIpXlE-PZ1k" class="clip-text clip-text_six">トーコ</a>
    </div>

    <div class="wrapper>">
        <a href="https://www.pixiv.net/member.php?id=6822047" class="clip-text clip-text_seven">人米</a>
    </div>

    <div class="wrapper>">
        <a href="https://www.pixiv.net/member.php?id=1056186" class="clip-text clip-text_eight">catzz</a>
    </div>

    <div class="wrapper>">
        <a href="https://www.pixiv.net/member.php?id=777703" class="clip-text clip-text_nine">neco</a>
    </div>

    <div class="wrapper>">
        <a href="https://www.pixiv.net/member.php?id=10710834" class="clip-text clip-text_ten">novelance</a>
    </div>

    <div class="wrapper>">
        <a href="https://www.pixiv.net/member.php?id=5130774" class="clip-text clip-text_eleven">SMAV</a>
    </div>

    <div class="wrapper>">
        <a href="https://www.pixiv.net/member.php?id=4819066" class="clip-text clip-text_twelve">T5</a>
    </div>

    <div class="wrapper>">
        <a href="https://www.pixiv.net/member.php?id=19029917" class="clip-text clip-text_thirdteen">tamaki</a>
    </div>

    <div class="wrapper>">
        <a href="https://www.pixiv.net/users/17429" class="clip-text clip-text_fourteen">LAM</a>
    </div>
</div>

<footer>
    <h4>Always be respectfull, and notice them</h4>

    <div class="main" id="section2">
    <a href="#section1" class="button2">Top</a>
    </div>
</footer>