<header>
  <h4>WAIFU is a little project for fun, enjoy this place</h4>
  <h4>Click on their name to see more</h4>

  <div class="main" id="section1">
  </div>
</header>

<div class="row">
  <div class="column">

<%#-------------------------------%>
<%#----------- SAMPLE ------------%>
<%#-------------------------------%>

<%#
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
      <img class="img-responsive" src="" width="width:100%">
        <div class="overlay"><a href="" ></a>
</div></div></div>
%>

<%#-------------------------------%>
<%#-----------COLONE 1------------%>
<%#-------------------------------%>


    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633570083201089536/67861832_p0.jpg" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=1056186" >catzz</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/614367458543009802/65309671_p0.jpg" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=11246082" >Miv4t</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/614367622259277824/33474413_p0.jpg" width="width:100%">
              <div class="overlay"><a href="https://www.pixiv.net/member.php?id=420928">_LM7_</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/614367774520639488/66337051_p0.png" width="width:100%">
              <div class="overlay"><a href="https://www.pixiv.net/member.php?id=648285">mocha@３日目西-O01a</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633576747274600469/76134058_p0.jpg" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=19029917" >tamaki</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633571557863849994/65231299_p0.jpg" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=10710834" >novelance</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633574330227359754/69880768_p0.jpg" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=5130774" >SMAV</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633575881826238469/62132560_p0.jpg" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=4819066" >T5</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/614367305496788992/54852358_p0.jpg" width="width:100%">
              <div class="overlay"><a href="https://www.pixiv.net/member.php?id=2131660">荻pote</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/615485834463936542/45733369_p0.png" width="width:100%">
              <div class="overlay"><a href="https://www.pixiv.net/member.php?id=6822047">人米</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/615485665102135296/D5EjFakU4AELMJG.jpeg" width="width:100%">
              <div class="overlay"><a href="https://twitter.com/fluffy2038?fbclid=IwAR1B7mk1jmldVygeIpOk2VDDWxUIBzost7yx8BX3hJsI6X-KJIpXlE-PZ1k">トーコ</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633570112292519936/73838366_p0.jpg" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=1056186" >catzz</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/615485356321669146/55314483_p0.png" width="width:100%">
              <div class="overlay"><a href="https://www.pixiv.net/member.php?id=1980643">ASK</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633571514796474378/56866389_p0.jpg" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=10710834" >novelance</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633574510544551936/63729259_p0.png" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=5130774" >SMAV</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633570851496919072/73166526_p0.png" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=777703" >neco</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/614367466210066433/58732917_p0.jpg" width="width:100%">
              <div class="overlay"><a href="https://www.pixiv.net/member.php?id=11246082">Miv4t</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/614367635508953099/54103878_p0.jpg" width="width:100%">
              <div class="overlay"><a href="https://www.pixiv.net/member.php?id=420928">_LM7_</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633571585026162688/62622577_p0.jpg" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=10710834" >novelance</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633571594597433354/60771841_p0.jpg" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=10710834" >novelance</a>
    </div></div></div>

<%#-------------------------------%>
<%#-----------COLONE 1------------%>
<%#-------------------------------%>
  </div>
  <div class="column">
<%#-------------------------------%>
<%#-----------COLONE 2------------%>
<%#-------------------------------%>


    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633570838318415889/70005758_p6.jpg" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=777703" >neco</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/614367631360786442/46133253_p0.jpg" width="width:100%">
              <div class="overlay"><a href="https://www.pixiv.net/member.php?id=420928">_LM7_</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633570858367057950/77042683_p0.jpg" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=777703" >neco</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/614367776366395393/75688660_p0.png" width="width:100%">
              <div class="overlay"><a href="https://www.pixiv.net/member.php?id=648285">mocha@３日目西-O01a</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633571585437073418/67243791_p0.jpg" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=10710834" >novelance</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/615485837353680896/50685172_p0.png" width="width:100%">
              <div class="overlay"><a href=" https://www.pixiv.net/member.php?id=6822047">人米</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633574373868961811/63292959_p0.png" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=5130774" >SMAV</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633571544374706178/62019007_p0.jpg" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=10710834" >novelance</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/614367312379904010/55850351_p0.jpg" width="width:100%">
              <div class="overlay"><a href="https://www.pixiv.net/member.php?id=2131660">荻pote</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633575943931428865/66855568_p0.jpg" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=4819066" >T5</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633570116390617107/68686407_p0.jpg" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=1056186" >catzz</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/615485363997245456/60224597_p0.png" width="width:100%">
              <div class="overlay"><a href="https://www.pixiv.net/member.php?id=1980643">ASK</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633571206095831040/63883229_p1.jpg" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=10710834" >novelance</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633574568619147264/77081197_p0.png" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=5130774" >SMAV</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/614367478067232788/57208951_p0.jpg" width="width:100%">
              <div class="overlay"><a href="https://www.pixiv.net/member.php?id=11246082">Miv4t</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/615485666129739776/D7zW-z5VsAAAZsV.jpeg" width="width:100%">
              <div class="overlay"><a href="https://twitter.com/fluffy2038?fbclid=IwAR1B7mk1jmldVygeIpOk2VDDWxUIBzost7yx8BX3hJsI6X-KJIpXlE-PZ1k">トーコ</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633576746134011904/73531483_p0.jpg" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=19029917" >tamaki</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633574604203491328/76044361_p0.png" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=5130774" >SMAV</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633570118143836161/73205835_p0.jpg" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=1056186" >catzz</a>
    </div></div></div>

<%#-------------------------------%>
<%#-----------COLONE 2------------%>
<%#-------------------------------%>
  </div>
  <div class="column">
<%#-------------------------------%>
<%#-----------COLONE 3------------%>
<%#-------------------------------%>


    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/614367782640943134/72131027_p0.png" width="width:100%">
              <div class="overlay"><a href="https://www.pixiv.net/member.php?id=648285">mocha@３日目西-O01a</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/614367313579474944/70306105_p0.jpg" width="width:100%">
              <div class="overlay"><a href="https://www.pixiv.net/member.php?id=2131660">荻pote</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633571461675614228/56278869_p0.jpg" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=10710834" >novelance</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/615485841380212736/50943159_p0.png" width="width:100%">
              <div class="overlay"><a href="https://www.pixiv.net/member.php?id=6822047">人米</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633574600017444884/76316055_p0.png" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=5130774" >SMAV</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/615485668084154368/D8crqYPUwAEm_dF.jpeg" width="width:100%">
              <div class="overlay"><a href="https://twitter.com/fluffy2038?fbclid=IwAR1B7mk1jmldVygeIpOk2VDDWxUIBzost7yx8BX3hJsI6X-KJIpXlE-PZ1k">トーコ</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/615485364483915787/71907145_p0.png" width="width:100%">
              <div class="overlay"><a href="https://www.pixiv.net/member.php?id=1980643">ASK</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633570859793121291/72121637_p0.png" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=777703" >neco</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633570148602740746/72055179_p0.jpg" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=1056186" >catzz</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/614367487991218186/67820244_p0.jpg" width="width:100%">
              <div class="overlay"><a href="https://www.pixiv.net/member.php?id=11246082">Miv4t</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633575908825104392/76877538_p0.jpg" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=4819066" >T5</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/614367631776153600/51873173_p0.jpg" width="width:100%">
              <div class="overlay"><a href="https://www.pixiv.net/member.php?id=420928">_LM7_</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/614367788676546560/71245340_p0.png" width="width:100%">
              <div class="overlay"><a href="https://www.pixiv.net/member.php?id=648285">mocha@３日目西-O01a</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633570831192031242/62549677_p0.jpg" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=777703" >neco</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/615485671544717322/Dy4EijgVsAA5YfR.jpeg" width="width:100%">
              <div class="overlay"><a href="https://twitter.com/fluffy2038?fbclid=IwAR1B7mk1jmldVygeIpOk2VDDWxUIBzost7yx8BX3hJsI6X-KJIpXlE-PZ1k">トーコ</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633571510925131777/59695614_p0.jpg" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=10710834" >novelance</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633575939921412096/68211458_p0.jpg" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=4819066" >T5</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633574577074733056/75126848_p0.png" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=5130774" >SMAV</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633570861076447252/75587244_p0.png" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=777703" >neco</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633575964701360128/67342794_p0.jpg" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=4819066" >T5</a>
    </div></div></div>

<%#-------------------------------%>
<%#-----------COLONE 3------------%>
<%#-------------------------------%>
  </div>
  <div class="column">
<%#-------------------------------%>
<%#-----------COLONE 4------------%>
<%#-------------------------------%>


    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/614367315764576257/72277519_p0.jpg" width="width:100%">
              <div class="overlay"><a href="https://www.pixiv.net/member.php?id=2131660">荻pote</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/615485842147770390/71788742_p0.jpg" width="width:100%">
              <div class="overlay"><a href="https://www.pixiv.net/member.php?id=6822047">人米</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633576749086539776/76153766_p0.jpg" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=19029917" >tamaki</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633571461675614228/56278869_p0.jpg" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=10710834" >novelance</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/615485669485314058/D9ks0HuUcAAuA1c.jpeg" width="width:100%">
              <div class="overlay"><a href="https://twitter.com/fluffy2038?fbclid=IwAR1B7mk1jmldVygeIpOk2VDDWxUIBzost7yx8BX3hJsI6X-KJIpXlE-PZ1k">トーコ</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633574444455165963/74925694_p0.jpg" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=5130774" >SMAV</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633570846203445249/59801687_p0.png" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=777703" >neco</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633576749065568266/72318408_p0.jpg" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=19029917" >tamaki</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633575941498732564/67799798_p0.jpg" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=4819066" >T5</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/615485364680785938/71962138_p0.png" width="width:100%">
              <div class="overlay"><a href="https://www.pixiv.net/member.php?id=1980643">ASK</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/614367488544735246/72744399_p0.jpg" width="width:100%">
              <div class="overlay"><a href="https://www.pixiv.net/member.php?id=11246082">Miv4t</a>
    </div></div></div>


    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633576011677564928/70037523_p0.jpg" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=4819066" >T5</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633576746515431434/70336670_p0.jpg" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=19029917" >tamaki</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/614367639900389387/66571402_p0.jpg" width="width:100%">
              <div class="overlay"><a href="https://www.pixiv.net/member.php?id=420928">_LM7_</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633571551488245760/60845590_p0.jpg" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=10710834" >novelance</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/614367790287028224/74650454_p0.png" width="width:100%">
              <div class="overlay"><a href="https://www.pixiv.net/member.php?id=648285">mocha@３日目西-O01a</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633575979549196288/74539039_p1.jpg" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=4819066" >T5</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633574578601328650/76954226_p0.png" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=5130774" >SMAV</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/614367317190770689/75126666_p0.jpg" width="width:100%">
              <div class="overlay"><a href="https://www.pixiv.net/member.php?id=2131660">荻pote</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/615485841652973568/53773860_p0.png" width="width:100%">
              <div class="overlay"><a href="https://www.pixiv.net/member.php?id=6822047">人米</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/615485367914725387/63134826_p0.png" width="width:100%">
              <div class="overlay"><a href="https://www.pixiv.net/member.php?id=1980643">ASK</a>
    </div></div></div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
          <img class="img-responsive" src="https://cdn.discordapp.com/attachments/614105388194725899/633574599124320257/73999976_p0.png" width="width:100%">
            <div class="overlay"><a href="https://www.pixiv.net/member.php?id=5130774" >SMAV</a>
    </div></div></div>

<%#-------------------------------%>
<%#-----------COLONE 4------------%>
<%#-------------------------------%>
  </div>
</div>

<footer>
  <h4>Don't forget, Rem is THE BEST GIRL</h4>

  <div class="main" id="section2">
    <a href="#section1" class="button2">Top</a>
  </div>
</footer>