<header>
    <h3>Updates</h3>
    <h3>Be respectfull.</h3>
</header>

<div>
    <% @posts.each do |post| %>
        <h2><%= post.name %> | <%= post.content %></h2>
        <p><a href="<%= post_path(post.id) %>" class="button2">Read more</a></p>
    <% end %>
</div>

<footer>
    <a href="<%= new_post_path %>" class="button1">New Post</a>
</footer>