<header>
    <h2>About this website</h2>
</header>

<div>
    <h4>This website was made to learn Ruby on Rails 6</h4>
    <h4>I made this type of website to promote the artists I like</h4>
    <h4>I also draw since a long time but I am a dummy</h4>
</div>

<footer>
    <h4>I hope you enjoy this website and discover some artists</h4>
    <h4>If you want to tell me anything, discord tag : Waifu#3191</h4>
</footer>